/* 
Aplicando conceitos de mobile first. 
Lembrar disso quando for fazer responsivo. 
Sempre a partir de agora começando pelo responsivo. 
*/

html {
  background-color: #000;
}

body * {
  font-family: "Outfit", sans-serif;
}

main {  /* Consigo a main logo com mobile first usando grid e depois adaptando com media queries? */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  
  background-color: var(--white-gray);
  background-image: url(../resources/Background_decor.svg);

  margin: 2rem auto;

  max-width: 23rem;

  border-radius: 1rem;

  width: 100%;
}
