html {
  background-color: #000;
}

body * {
  font-family: "Outfit", sans-serif;
}

main {
  background-color: var(--white-gray);

  margin: 2rem auto;
  padding: 0 .5rem;

  width: 100%;

  max-width: 23rem;

  border-radius: 1rem;
}

.first-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

/* RESTRUTURAR TODO O HTML DO PROJETO. COMEÇAR PELO DESKTOP VERIFICAR E DESENHAR O HEADER, MAIN E AS SECTIONS. */

/* @media (min-width: 1024px) {
  main {
    max-width: 70rem;
    
    padding: 0;

    grid-template-areas: 
    "header header header"
    "first-container first-container second-container"
    "";
  }

  .first-container {
    grid-template-columns: repeat(2, 1fr);
  }
} */