main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;

  grid-template-areas:
    "header employers employers"
    "members employers employers employers";

  background-color: red;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
