main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: red;
  
  display: grid;
  grid-template-areas:
    "header employers employers"
    "members employers employers employers";

  max-width: 1200px;

  width: 90%;

  margin: 0 auto;
}


