html {
  background-color: #000;
}

body * {
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: var(--white-gray);
  background-image: url(../resources/Background_decor.svg);

  margin: 2rem auto;

  width: 100%;
  
  max-width: 20rem;

  border-radius: 1rem;
}
