html {
  background-color: #000;
}

body * {
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: var(--white-gray);

  margin: 2rem auto;
  padding: 0 .5rem;

  width: 100%;
  
  max-width: 23rem;

  border-radius: 1rem;
}
