html {
  background-color: #000;
}

body * {
  font-family: "Outfit", sans-serif;
}

main {
  background-color: var(--white-gray);

  margin: 2rem auto;
  padding: 0 .5rem;

  width: 100%;
  
  max-width: 23rem;

  border-radius: 1rem;
}

.first-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
}


@media (min-width: 1024px) {
  main {
    max-width: 70rem;
    padding: 0 2rem;
  }

  .first-container {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 2rem;
  }
}