header {
    background: var(--white-gray) url(../resources/Background_decor.svg) no-repeat center / contain;

    border-top-left-radius: 2rem;

    width: 100%;
}

header > .apresentation {
    padding: 3rem 3rem;
}

header > .apresentation > .team {
    color: var(--blue);

    font-weight: bold;
}

header > .apresentation > .title {
    margin-top: 1rem;

    font-size: 3rem;
    font-weight: normal;
}

header > .apresentation > .description {
    margin-top: 2rem;

    width: 85%;

    color: var(--black-gray);
}


.employers {
    display: flex;
}

