@media (max-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    height: 100vh;

    padding: 3rem;
  }

  header {
    grid-column: 1 / 4;

    padding: 5rem 4rem 10rem;

    background-image: url(../resources/Background_decor.svg); /* PRECISA ARRUMAR A IMAGEM DE FUNDO! */

    gap: 1.2rem;

    border-top-right-radius: 2rem;
  }

  header > .link {
    font-size: 2.5rem;
    font-weight: bold;

    color: var(--blue);
  }

  header > .title {
    font-size: 5rem;
  }

  header > .description {
    width: 75%;

    font-size: 2rem;

    line-height: 2.5rem;
  }

  .card.employee-2 {
    border-top-right-radius: 0;
  }

  .card.employee-1 > .informations,
  .card.employee-2 > .informations,
  .card.employee-3 > .informations,
  .card.employee-4 > .informations,
  .card.employee-5 > .informations {
    font-size: 1.8rem;
  }

  .card.members {
    background-image: none;
  }

  .card.members > .see-members {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .card.members > img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .card.members {
    grid-row: 3 / 4;
  }
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    grid-row: 0;
    grid-column: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    padding-bottom: 10rem;
  }

  header > .link {
    font-size: 3rem;
  }

  header > .title {
    font-size: 6rem;
  }

  header > .description {
    width: 90%;

    font-size: 2.5rem;

    line-height: 3.5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .card.members {
    display: grid;
    grid-template-rows: 32rem;
    
    order: 1;

    background-image: none;

    border-bottom-left-radius: 0;
  }

  .card.members > .see-members {
    font-size: 2rem;
    font-weight: bold;
  }

  .card.employee-5 {
    border-bottom-right-radius: 0;
  }
}

@media (max-width: 420px) {
  main {
    padding: 2rem;
  }

  header {
    background-image: none;
  }

  header > .link {
    font-size: 2.5rem;
  }

  header > .title {
    font-size: 2.8rem;
  }

  header > .description {
    width: 100%;

    font-size: 1.5rem;

    line-height: 2.5rem;
  }
}
