section.first-container .our-team {
    padding: 0 1.5rem;
    margin: 2rem 0;
}

section.first-container > .our-team > .team-apresentation {
    color: var(--blue);
    
    font-size: 1.1rem;

    margin-top: 1rem;
}

section.first-container > .our-team > .team-apresentation + .title { /* Mais(+) para pegar o elemento de baixo. (Será que estou certo?) */
    font-size: 2.5rem;

    margin-top: 1rem;
}

section.first-container > .our-team > .team-apresentation + .title + .description {
    font-size: 1.2rem;
    
    margin: 1rem 0;
}

.first-container > .team > .info-team {
    display: flex;
    flex-direction: column;

    position: relative;
}

.first-container > .team > .info-team:nth-child(1) /* Dá para pegar a imagem com before e after? */ > img {
    width: 100%;

    background-color: var(--light-violet);
}

.first-container > .team > .info-team > .name-and-profession {
    position: absolute;
    top: 80%;
    left: 5%;

    color: var(--white);
}

.first-container > .team > .info-team > .name-and-profession > .name {
    font-size: 1.5rem;
}

.first-container > .team > .info-team > .name-and-profession > .profession {
    font-size: 1.1rem;

    margin-top: .5rem;
}

.first-container > .team > .info-team:nth-child(2) > img {
    width: 100%;

    background-color: var(--light-green);
}