.first-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40rem;
}

header {
    background: var(--white-gray) url(../resources/Background_decor.svg) no-repeat center / contain;

    border-top-left-radius: 5rem;

    width: 100%;
}

header > .apresentation {
    padding: 7rem 4rem;
}

header > .apresentation > .team {
    color: var(--blue);

    font-weight: bold;
    font-size: 2.5rem;
}

header > .apresentation > .title {
    margin-top: 1rem;

    font-size: 6rem;
    font-weight: bold;
}

header > .apresentation > .description {
    margin-top: 1rem;

    font-size: 2.5rem;

    width: 90%;

    color: var(--black-gray);

    line-height: 3rem;
}

.first-section > .employers,
.second-section > .employers {
    display: flex;
}

.first-section > .employers > .first-employer {
    background-color: var(--light-violet);
}

.first-section > .employers > .second-employer {
    background-color:  var(--pink);

    border-top-right-radius: 5rem;
}

.first-section > .employers > .first-employer, 
.first-section > .employers > .second-employer {
    position: relative;

    width: 100%;
}

.first-section > .employers > .first-employer > .informations,
.first-section > .employers > .second-employer > .informations {
    position: absolute;
    bottom: 6%;
    left: 5%;

    color: var(--white);
}

.first-section > .employers > .first-employer > .informations > .name, 
.first-section > .employers > .second-employer > .informations > .name  {
    font-size: 2.8rem;
}

.first-section > .employers > .first-employer > .informations > .profission, 
.first-section > .employers > .second-employer > .informations > .profission {
    font-size: 2rem;

    margin-top: 1rem;
}

.second-section > .employers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.second-section > .employers > .members {
    border-bottom-left-radius: 5rem;
    
    background: var(--white-gray) url(../resources/Background_decor@2x.png) no-repeat center / contain;
    
    display: flex;
    gap: .5rem;
    align-items: flex-end;

    font-weight: bold;

    width: 100%;
}

.second-section > .employers > .members > .arrow-img {
    width: 2rem;

    padding-bottom: 3rem;
}

.second-section > .employers > .members > .paragraph {
    font-size: 2.3rem;
    
    color: var(--black-gray);

    margin-left: 5rem;
    padding-bottom: 3rem;
}

.second-section > .employers > .third-employer,
.second-section > .employers > .forth-employer,
.second-section > .employers > .five-employer {
    width: 100%;

    position: relative;
}

.second-section > .employers > .third-employer > .image-third,
.second-section > .employers > .forth-employer > .image-forth,
.second-section > .employers > .five-employer > .image-fith {
    width: 100%;
}

.second-section > .employers > .third-employer > .image-third {
    background-color: var(--light-blue);
}

.second-section > .employers > .forth-employer > .image-forth {
    background-color: var(--light-orange);
}

.second-section > .employers > .five-employer > .image-fith {
    background-color: var(--light-green);

    border-bottom-right-radius: 5rem;
}

.second-section > .employers > .third-employer > .informations,
.second-section > .employers > .forth-employer > .informations,
.second-section > .employers > .five-employer > .informations {
    position: absolute;
    bottom: 6%;
    left: 5%;

    color: var(--white);
}

.second-section > .employers > .third-employer > .informations > .name,
.second-section > .employers > .forth-employer > .informations > .name,
.second-section > .employers > .five-employer > .informations > .name {
    font-size: 3rem;
}

.second-section > .employers > .third-employer > .informations > .profission,
.second-section > .employers > .forth-employer > .informations > .profission,
.second-section > .employers > .five-employer > .informations > .profission {
    font-size: 1.8rem;

    margin-top: 1rem;
}