.first-container .our-team {
    margin: 2rem 0 4rem;
    padding: 0 2rem;
}

.first-container > .our-team > .team-apresentation {
    color: var(--blue);
    
    font-size: 1.1rem;

    margin-top: 1rem;
}

.first-container > .our-team > .team-apresentation + .title { /* Mais(+) para pegar o elemento de baixo. (Será que estou certo?) */
    font-size: 2.1rem;
    font-weight: 600;
    
    margin: 1.5rem 0;
}

.first-container > .our-team > .team-apresentation + .title + .description {
    font-size: .9rem;
    
    margin: 1rem 0;
    
    color: var(--black-gray);
}

.first-container > .team > .info-team {
    display: flex;
    flex-direction: column;
    
    position: relative;
}

/* Dá para pegar a imagem com before e after? */
.first-container > .team > .info-team:nth-child(1) > img {
    width: 100%;
    
    background-color: var(--light-violet);
}

.first-container > .team > .info-team > .name-and-profession, 
.second-container > .team > .info-team > .name-and-profession {
    position: absolute;
    top: 75%;
    left: 7%;

    color: var(--white);
}

.first-container > .team > .info-team > .name-and-profession > .name,
.second-container > .team > .info-team > .name-and-profession > .name {
    font-size: 1.5rem;
}

.first-container > .team > .info-team > .name-and-profession > .profession,
.second-container > .team > .info-team > .name-and-profession > .profession {
    font-size: 1.1rem;

    margin-top: 1rem;
}

.first-container > .team > .info-team:nth-child(2) > img {
    width: 100%;

    background-color: var(--pink);
}

.second-container > .team > .members {
    display: none;
}

.second-container > .team > .info-team {
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.second-container > .team > .info-team:nth-child(2) > img {
    width: 100%;

    background-color: var(--light-blue);
}

.second-container > .team > .info-team:nth-child(3) > img {
    background-color: var(--light-orange);
}

.second-container > .team > .info-team:nth-child(4) > img {
    background-color: var(--light-green);
}

.second-container > .team > .members-mobile {
    height: 30rem; /* Altura padronizada */

    position: relative;
}

.second-container > .team > .members-mobile > .members {
    position: absolute;
    top: 90%;
    left: 5%;
    
    color: var(--black-gray);

    font-weight: 600;
    font-size: 1.1rem;
    
    cursor: pointer;
}