.first-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 38rem;
}

header {
    background: var(--white-gray) url(../resources/Background_decor.svg) no-repeat center / contain;

    border-top-left-radius: 2rem;

    width: 100%;
}

header > .apresentation {
    padding: 7rem 4rem;
}

header > .apresentation > .team {
    color: var(--blue);

    font-weight: bold;
    font-size: 1.7rem;
}

header > .apresentation > .title {
    margin-top: 1rem;

    font-size: 5rem;
    font-weight: normal;
}

header > .apresentation > .description {
    margin-top: 2rem;

    font-size: 1.7rem;

    width: 75%;

    color: var(--black-gray);

    /* line-height: 1.5rem; */
}

.first-section > .employers,
.second-section > .employers {
    display: flex;
}

.first-section > .employers > .first-employer {
    background-color: var(--light-violet);
}

.first-section > .employers > .second-employer {
    background-color:  var(--pink);

    border-top-right-radius: 2rem;
}

.first-section > .employers > .first-employer, 
.first-section > .employers > .second-employer {
    position: relative;
}

.first-section > .employers > .first-employer > .image-first, 
.first-section > .employers > .second-employer > .image-second {
    width: 100%;
    height: 100%;
}

.first-section > .employers > .first-employer > .informations,
.first-section > .employers > .second-employer > .informations {
    position: absolute;
    bottom: 4%;
    left: 4%;

    color: var(--white);
}

.first-section > .employers > .first-employer > .informations > .name, 
.first-section > .employers > .second-employer > .informations > .name  {
    font-size: 2.5rem;
}

.first-section > .employers > .first-employer > .informations > .profission, 
.first-section > .employers > .second-employer > .informations > .profission {
    font-size: 2rem;
}

.second-section > .employers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }

.second-section > .employers > .members {
    border-bottom-left-radius: 3rem;
    
    background: var(--white-gray) url(../resources/Background_decor@2x.png) no-repeat center / contain;
    
    display: flex;
    gap: .5rem;
    align-items: flex-end;

    font-weight: bold;


    height: 80%;
}

.second-section > .employers > .members > .arrow-img {
    width: 2rem;

    padding-bottom: 3rem;
}

.second-section > .employers > .members > .paragraph {
    font-size: 1.7rem;
    color: var(--black-gray);

    margin-left: 4rem;
    padding-bottom: 3rem;
}

.second-section > .employers > .third-employer {
    width: 100%;
    position: relative;
}

.second-section > .employers > .third-employer > .image-third {
    width: 100%;

    background-color: var(--light-blue);
}

.second-section > .employers > .third-employer > .informations {
    position: absolute;

    bottom: 25%;
    left: 5%;

    color: var(--white);
}

.second-section > .employers > .third-employer > .informations > .name {
    font-size: 2.5rem;
}

.second-section > .employers > .third-employer > .informations > .profission {
    font-size: 2rem;
}