.first-section {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 40rem;
}

header {
    background: var(--white-gray) url(../resources/Background_decor.svg) no-repeat center / contain;

    border-top-left-radius: 2rem;

    width: 100%;
}

header > .apresentation {
    padding: 7rem 3rem;
}

header > .apresentation > .team {
    color: var(--blue);

    font-weight: bold;
    font-size: 1.7rem;
}

header > .apresentation > .title {
    margin-top: 1rem;

    font-size: 5rem;
    font-weight: normal;
}

header > .apresentation > .description {
    margin-top: 2rem;

    font-size: 1.7rem;

    width: 90%;

    color: var(--black-gray);

    /* line-height: 1.5rem; */
}

.first-section > .employers,
.second-section > .employers {
    display: flex;
    
    position: relative;
}

.first-section > .employers > .first-employer {
    background-color: var(--light-violet);
}

.first-section > .employers > .first-employer > .image-first {
    width: 100%;
    height: 100%;
}

.first-section > .employers > .first-employer > .informations {
    position: absolute;
    bottom: 4%;
    left: 2%;

    color: var(--white);
}

.first-section > .employers > .first-employer > .informations > .name {
    font-size: 2.5rem;
}

.first-section > .employers > .first-employer > .informations > .profission {
    font-size: 2rem;
}