:root {
    --white: #FFFEFE;
    --white-gray: #F3F4F6;
    --black-gray: #394150;
    --black: #000000;
    --blue: #263FA9;
    --light-blue: #9DC4F8;
    --light-green: #86E7D4;
    --light-violet: #C1B6F8;
    --pink: #EDACD2;
    --light-orange: #F8D8B0;
}